   <!-- ANGULAR -->
 
   <div class="card mt-4" id="angular">
    <div class="row g-0 d-flex justify-content-around">
        <div class="col-md-8 me-5" id="ang-text">
          <div class="card-body d-flex">
            <img class="img-fluid rounded-start mt-5 ms-5" src="assets/img/angular_logo_icon_145496.png" alt="" id="icon-tec"> 
            <i class=" mt-5 ms-5"> <h1 class="card-title">Angular Developer</h1></i>
          </div>
          <div class="card-body mt-3 ms-5" id="cont-text">
                <i>
                <p class="card-text">Javascript fue el primer lenguaje con el que me abrí paso en el mundo It, lo que empezó como un hobby se volvió
                                      una pasión con ganas de progresar. Cuento con experiencia en manejo de APIrest, HTTP, Observable, RxJs. </p> 
                <h5>Educación</h5>
                <p>Certificado en Argentina Programa en #SeProgramar y #YoProgramo.</p>
                <h5>Experiencia</h5>
                <ul>
                  <li>Proyecto de 6 meses en los lenguajes Angular y Java en SGN Consultora.</li>
                  <li>Proyectos Freelance.</li>
                </ul>
                <a href="https://github.com/CiroM77/Ej-Tecnico-Angular" class="btn btn-primary mt-2 p-2 ps-5 pe-5" id="cv-btn"  target="_blank"><span>Explore más.</span> </a>  
              </i>
          </div>
        </div>
        <div class="col-md-4" id="ang-img">
       </div>
    </div>
  </div>
 
  <!-- JAVA -->

  <div class="card" id="java" data-aos="fade-left">
    <div class="row g-0 d-flex justify-content-around">
      <div class="col-md-4 mt-2 d-flex align-items-center" id="java-img">
      </div>
      <div class="col-md-8" id="java-text">
        <div class="card-body d-flex">
          <img class="img-fluid rounded-start mt-5 ms-5" src="assets/img/coffeecuplogoJava_5406.png" alt="" id="icon-tec"> 
          <i class=" mt-5 ms-5"> <h1 class="card-title">Java Developer</h1></i>
        </div>
        <div class="card-body" id="cont-text">
          <i>
          <p class="card-text">Tengo experiencia en Spring boot en manejo de API REST, CRUD, JWT, BBDD; luego realicé al querer aprender el lenguaje
            en profundidad, el curso de Desarrollador Java en la UTN becado por Neoris. </p> 
          <h5>Educación</h5>
          <ul>
            <li>Certificado en Argentina Programa en #SeProgramar y #YoProgramo.</li>
            <li>Desarrollador Java UTN (2022)</li>
          </ul>
          <h5>Experiencia</h5>
            <p>Proyecto de 6 meses en los lenguajes Angular y Java en SGN Consultora.</p>
          <a href="assets/doc/document (1).pdf" class="btn btn-primary mt-2 p-2 ps-5 pe-5" id="cv-btn"  target="_blank"><span>Explore más.</span> </a>  
       
        </i>
        </div>
      </div>
    </div>
  </div>
 
  <!-- DATA SCIENCE -->

  <div class="card" id="python" data-aos="fade-right">
    <div class="row g-0 d-flex justify-content-around">
      <div class="col-md-8" id="data-text">
        <div class="card-body d-flex">
          <img class="img-fluid rounded-start mt-5 ms-5" src="assets/img/data_analysis_icon_131031.png" alt="" id="icon-tec"> 
          <i class=" mt-5 ms-5"> <h1 class="card-title">Data Science</h1></i>
        </div>
        <div class="card-body" id="cont-text">
          <i>
            <p class="card-text">Cuento con realización en el curso de Big Data em Codo a Codo, el programa llevado acabo por el Gobierno de Buenos Aires,
              se realizaron prácticas en Power Bi, Locker Studio y las bibliotecas de Python Pandas y Numpy. </p> 
          <h5>Educación</h5>
          <p>Big Data - Codo a Codo 2022</p>
          <a href="https://datastudio.google.com/reporting/a0c56598-9d5b-455a-b46e-2116b8564142" class="btn btn-primary mt-2 p-2 ps-5 pe-5" id="cv-btn"  target="_blank"><span>Explore más.</span> </a>  
       
        </i>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-center" id="data-img">
        <video class="img-fluid" src="assets/vid/desarrollador.mp4" autoplay="true" muted="true" loop="true" id="video-data"></video>
      </div>
    </div>
  </div>


   <!-- I.A. -->

   <div class="card" id="iart" data-aos="fade-left">
    <div class="row g-0 d-flex justify-content-around">
      <div class="col-md-4 mt-2 d-flex align-items-center" id="bot-img">
      </div>
      <div class="col-md-8" id="iart-text">
        <div class="card-body d-flex">
          <img class="img-fluid rounded-start mt-5 ms-5" src="assets/img/Python_icon-icons.com_68975.png" alt="" id="icon-tec"> 
          <i class=" mt-5 ms-5"> <h1 class="card-title">Inteligencia Artifical</h1></i>
        </div>
        <div class="card-body" id="cont-text">
          <i>
          <p class="card-text">Las ganas de seguir aprendiendo impulsó a seguir desarrollandome en el Mundo IT, actualmente encuentro realizando
            el curso de Inteligencia Artifical en UBA IALAB. </p> 
          <h5>Educación</h5>
          <p>Cursando actualmente Inteligencia Artificial en el Laboratorio de Innovación e I
            nteligencia Artificial de la Universidad de Buenos Aires.</p>
          <a href="https://github.com/CiroM77/Ej-Tecnico-Angular" class="btn btn-primary mt-2 p-2 ps-5 pe-5" id="cv-btn"  target="_blank"><span>Explore más.</span> </a>  
       
        </i>
        </div>
      </div>
    </div>
  </div>
