<div class="container-fluid mt-5 mb-0 p-5 pb-0" id="cont-footer">
    <div class="row g-0 d-flex justify-content-center" >
        <div class="col-2" id="foot-social">
        <h5>Ciro Martin</h5>
        <div class="social-link mt-3">
          <li class="nav-item d-flex mb-3">
            <a href="https://www.linkedin.com/in/ciro-martin-06455321b/" target="_blank">
            <i class="fab fa-linkedin-in"></i>    </a>
            <span class="ms-2"><i>Linkedin</i></span>
          </li >
          <li class="nav-item d-flex mb-3">
            <a href="https://github.com/CiroM77" target="_blank"><i class="fab fa-github"></i></a>
            <span class="ms-2"><i>Github</i></span>
          </li>
          <li class="nav-item d-flex mb-3">
            <a href="https://twitter.com/M77Ciro" target="_blank"><i class="fab fa-twitter"></i></a>
            <span class="ms-2"><i>Twitter</i></span>
          </li>
          <li class="nav-item d-flex mb-3">
            <a href="https://www.instagram.com/ciromartin77/" target="_blank"><i class="fab fa-instagram"></i></a>
            <span class="ms-2"><i>Instagram</i></span>
          </li>
        </div>

        </div>
        <div class="col-2" id="list-footer">
          <ul class="list-group list-group-flush" id="foot-list">
            <li class="list-group-item text-muted">Angular Developer</li>
            <li class="list-group-item text-muted">Java Developer</li>
            <li class="list-group-item text-muted">Data Science</li>
            <li class="list-group-item text-muted">Artificial Intelligence</li>
            <li class="list-group-item text-muted">About me</li>
          </ul>
        </div>
        <div class="col ms-5">
          <div class="card" id="obt-inf">
            <div class="card-body">
                 <h5 class="card-title">Obtenga Información</h5>
                  <p class="card-text">Ingrese su email para obtener información para conformacion de Páginas Web.</p>
                  <div class="input-group ">
                      <input type="text" class="form-control" placeholder="Inserta tu email" aria-label="Recipient's username" aria-describedby="button-addon2">
                      <button class="btn btn-secondary" type="button" id="button-addon2">Enviar</button>
                  </div>
            </div>
      </div>
        </div>
    </div>   
    <div class="footer-final mt-4 p-3">
      <p>© 2021 Company, Inc. All rights reserved.</p>
    </div>  
  </div> 
