
    <div class="card mb-3" id="banner">
        <div class="row g-0 d-flex justify-content-center">
          <div class="col-md-4 mt-3" id="bann-img">
            <img src="assets/img/ciro.jpeg" class="img-fluid rounded-start" data-aos="fade-down" id="img1" alt="...">
            <img src="assets/img/mate.jpeg" class="img-fluid rounded-start" data-aos="fade-right" id="img2" alt="...">
            <img src="assets/img/cafe.jpg" class="img-fluid rounded-start" data-aos="fade-left" id="img3" alt="...">
          </div>
          <div class="col-md-8 d-flex align-items-center ms-5" id="bann-text">
              <div class="card-body" id="cont-text">
                  <i>
                      <h2 class="card-title" id="tittle-bann"> <span class="typed"></span></h2>
                      <p class="card-text mt-3">I am a web developer and designer, passionate about that world and looking to face new challenges. I have experience in frontend and backend development, 
                        currently I am specializing in Data Science and Artificial Intelligence. </p>
                  </i>
                   <div class="btn-cv  d-flex justify-content-center mt-5 mb-3">
                      <a href="assets/doc/Ciro Martin - Curriculum vitae.pdf" class="btn btn-primary p-2 ps-5 pe-5" id="cv-btn"  target="_blank"><span>Descargue el C.V.</span> </a> 
                   </div>
                  <div class="card mt-5" id="obt-inf" data-aos="fade-right">
                        <div class="card-body">
                             <h5 class="card-title">Obtenga Información</h5>
                              <p class="card-text">Ingrese su email para obtener información para conformacion de Páginas Web.</p>
                              <div class="input-group ">
                                  <input type="text" class="form-control" placeholder="Inserta tu email" aria-label="Recipient's username" aria-describedby="button-addon2">
                                  <button class="btn btn-secondary" type="button" id="button-addon2">Enviar</button>
                              </div>
                        </div>
                  </div>
              </div>      
          </div>
        </div>
      </div>
     