<div class="container container-fluid d-flex" id="cont-fono">

    <div class="col mt-5" id="cont-img-acer">
      <div class="row">
        <img src="assets/img/nijatra.jpeg" class="img-fluid m-4 p-0" alt="... " id="img-acerca" style="max-width: 250px;">
        <img src="assets/img/ciroyjuan.jpeg" class="img-fluid m-4 p-0" alt="... " id="img-acerca"style="max-width: 200px;">
      </div>
      <div class="row">
        <img src="assets/img/trader.jpg" class="img-fluid m-4 p-0" alt="... " id="img-acerca" style="max-width: 200px; max-height: 200px;">
        <img src="assets/img/univ.jpeg" class="img-fluid m-4 p-0" alt="... " id="img-acerca2" style="max-width: 200px; max-height: 200px;">
      </div>
    </div>

    <div class="col mt-5 ms-3 d-flex align-items-center" id="text-acerca">
      <div class="card " id="acerca-cont" style="max-width: 600px;"> 
        <div class="card-body"> 
          <i>
          <h4 class="card-title">Más de mi</h4>
          <p class="card-text">Mi salida de la secundaria arrancó en el estudio de la Lic. en Fonoaudiología, el cual me faltan
            pocas materias para recibirme. Además de eso soy profesor en una Academia de Trading en Futuros. Mis inicios en el mundo IT radican en el
            2020 en Argentina Programa, antes contaba conocimientos pero lo utilizaba de hobby, sin tomar dimensíon de las posibilidades; luego de eso se formó
            una pasión el cual hoy sigo alimentando con una conínua formación.  
        </p>
          </i>
        </div>
        </div>
    </div>

  </div>

